@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Graphic;
    src: './fonts/Graphik';
}

* {
    @apply text-base font-graphic
}

body {
    @apply overflow-x-hidden text-black
}

button, a {
    @apply hover:opacity-80
}

button:disabled {
    @apply hover:opacity-100
}

.flex-centered {

    @apply flex justify-center items-center;
}

.common-button {
    @apply bg-primary disabled:bg-lightGray text-white text-xl leading-5 rounded-[35px]
}

.title {
    @apply text-5xl leading-[55px] tracking-[0.2px] font-normal
}

.subtitle {
    @apply text-[28px] leading-10 tracking-[0.2px]
}