@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Graphic;
    src: './fonts/Graphik';
}

* {
    @apply text-base font-graphic
}

html {
    max-width: 100vw;
}

html:has(.popup-no-scroll) {
    overflow: hidden;
}

body {
    @apply max-w-[100vw] overflow-x-hidden text-black
}

button, a {
    @apply lg:hover:opacity-80
}

button:disabled {
    @apply lg:hover:opacity-100
}

.flex-centered {

    @apply flex justify-center items-center;
}

.common-button {
    @apply bg-primary disabled:bg-lightGray text-white text-xl leading-5 rounded-[35px]
}

.title {
    @apply text-5xl leading-[55px] tracking-[0.2px] font-normal
}

.subtitle {
    @apply text-[28px] leading-10 tracking-[0.2px]
}

form > input {
    @apply lg:w-full h-[54px] bg-formBg border-[1px] border-lightGray rounded-[39px] px-5 text-[15px]
    text-darkBlack placeholder-darkBlack
}

.contact-map-info {
    @apply text-center text-secondBlack tracking-[0.1px] leading-[23px] flex gap-5
}

.popup-no-scroll {
    @apply z-[99]
}

.inner-hidden * {
    @apply hidden
}